
.buttnSectn
{
   
    position: relative;
    display: flex;
    background-color: #283a45;
    padding: 20px;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    
}

.addBttn button:hover
{
    background-color: #14aff1;
}
.rightSide
{
    position: relative;
    display: flex;
    background-color: #283a45;
    justify-content: flex-end;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.leftSide
{
    position: relative;
    display: flex;
    background-color: #283a45;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;

}

.cnter{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.parent-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
.parent {
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}
.child {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex-grow: 1;
  height: 100px;
}
.dialogTitle{
  color: black;
}
#Search_customer_id{
  border: 0;
  outline: 0;
  border-radius: 30px;
}
.item {
    position: relative;
    display: flex;
    margin: 10px 0 10px  0;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-content: flex-start;
    width: 570px;
    align-items: center;
    align-content: center;
    align-items: stretch;
  }
  .item1{
    position: relative;
    display: flex;
    margin: 10px 0 10px  0;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-content: flex-start;
    align-items: center;
    align-content: center;
    align-items: stretch;
  }
  
  .container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
  }
  .css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input {
    padding-right: 24px;
    color: white;
    min-width: 16px;
}
